{% set assessments = [
  {
    "assessmentIdentifier": "WIForward_ELA",
    "assessmentTitle": "WI Forward - English Language Arts",
    "assessmentFamily": "WIForward",
    "affix": "ELA",
    "scoreResults": [
      {
        "reportingMethod": "Scale Score",
        "col": "scaleScore",
        "raw_col": "Scale_Score_ELA",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Std Error Scale Score",
        "col": "stdErrorScaleScore",
        "raw_col": "Std_Error_Scale_Score_ELA",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "WI Percentile",
        "col": "percentile",
        "raw_col": "WI_Percentile_ELA",
        "typeDescriptor": "Percentile"
      },
      {
        "reportingMethod": "Total Points Earned",
        "col": "Total_Points_Earned",
        "raw_col": "Total_Points_Earned_ELA",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned MC",
        "col": "Points_Earned_MC",
        "raw_col": "Points_Earned_ELA_MC",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned Autoscored",
        "col": "Points_Earned_Autoscored",
        "raw_col": "Points_Earned_ELA_Autoscored",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned TDA",
        "col": "Points_Earned_TDA",
        "raw_col": "Points_Earned_ELA_TDA",
        "max_year": 2023,
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "CESA",
        "col": "CESA",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Type",
        "col": "School_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Name",
        "col": "District_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Type",
        "col": "District_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Key",
        "col": "District_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Name",
        "col": "School_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Number",
        "col": "School_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Type",
        "col": "School_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Key",
        "col": "School_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Number",
        "col": "District_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Agency_Type",
        "col": "District_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Number",
        "col": "School_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Agency_Type",
        "col": "School_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Local_Student_ID",
        "col": "Local_Student_ID",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Date_of_Birth",
        "col": "Date_of_Birth",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Gender",
        "col": "Gender",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Ethnicity",
        "col": "Ethnicity",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_School_FAY",
        "col": "Enrolled_in_School_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_District_FAY",
        "col": "Enrolled_in_District_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Out_of_District_IEP_Placement",
        "col": "Out_of_District_IEP_Placement",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "EL_Student_New_to_Country",
        "col": "EL_Student_New_to_Country",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Disability_Status",
        "col": "Disability_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Primary_Disability_Code",
        "col": "Primary_Disability_Code",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency_Status",
        "col": "English_Proficiency_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency",
        "col": "English_Proficiency",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Economic_Status",
        "col": "Economic_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Migrant_Status",
        "col": "Migrant_Status",
        "typeDescriptor": "Level"
      }
    ],
    "performanceLevels": [
      {
        "reportingMethod": "Performance Level",
        "col": "performanceLevel",
        "raw_col": "ELA_Performance_Level",
        "min_year": 2024,
        "levels": [
          1,
          2,
          3,
          4
        ]
      },
      {
        "reportingMethod": "Proficiency",
        "col": "performanceLevel",
        "raw_col": "ELA_Proficiency",
        "max_year": 2023,
        "levels": [
          1,
          2,
          3,
          4
        ]
      }
    ],
    "objectiveAssessments": [
      {
        "identificationCode": "Reading",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Reading Domain",
        "scoreResults": [
          {
            "reportingMethod": "Scale Score",
            "col": "Scale_Score_Reading",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Std Error Scale Score",
            "col": "Std_Error_Scale_Score_Reading",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "WI Percentile",
            "col": "WI_Percentile_Reading",
            "min_year": 2024,
            "typeDescriptor": "Percentile"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_Reading",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Performance Level",
            "col": "Reading_Performance_Level",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Writing",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Writing Domain",
        "scoreResults": [
          {
            "reportingMethod": "Scale Score",
            "col": "Scale_Score_Writing_Language",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Std Error Scale Score",
            "col": "Std_Error_Scale_Score_Writing_Language",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "WI Percentile",
            "col": "WI_Percentile_Writing_Language",
            "min_year": 2024,
            "typeDescriptor": "Percentile"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_Writing_Language",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Performance Level",
            "col": "Writing_Language_Performance_Level",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Reading_KI",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Key Ideas and Details",
        "parentIdentificationCode": "Reading",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_ELA_Reading_KI",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_ELA_Reading_KI",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_ELA_Reading_KI",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Reading_CS",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Craft and Structure/Integration of Knowledge",
        "parentIdentificationCode": "Reading",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_ELA_Reading_CS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_ELA_Reading_CS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_ELA_Reading_CS",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Reading_VU",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Vocabulary Use",
        "parentIdentificationCode": "Reading",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_ELA_Reading_VU",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_ELA_Reading_VU",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_ELA_Reading_VU",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Writing_Lang_TT",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Text Types and Purposes",
        "parentIdentificationCode": "Writing",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_ELA_Writing_Lang_TT",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_ELA_Writing_Lang_TT",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_ELA_Writing_Lang_TT",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Writing_Lang_IB",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Inquiry to Build and Present Knowledge",
        "parentIdentificationCode": "Writing",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_ELA_Writing_Lang_IB",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_ELA_Writing_Lang_IB",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_ELA_Writing_Lang_IB",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "Writing_Lang_LC",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Language Conventions",
        "parentIdentificationCode": "Writing",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_ELA_Writing_Lang_LC",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_ELA_Writing_Lang_LC",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_ELA_Writing_Lang_LC",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      }
    ],
    "topLevelFields": [
      {
        "col": "schoolYear",
        "raw_col": "Year"
      },
      {
        "col": "adminDate",
        "raw_col": "Test_End_Date_ELA"
      },
      {
        "col": "attemptStatus",
        "raw_col": "ELA_Attempted_Status"
      },
      {
        "col": "reasonNotTested",
        "raw_col": "Reason_Not_Tested_ELA"
      }
    ],
    "accommodations": [
      {
        "col": "Color_Choices",
        "raw_col": "Color_Choices_ELA",
        "min_year": 2024
      },
      {
        "col": "Contrasting_Color",
        "raw_col": "Contrasting_Color_ELA",
        "min_year": 2024
      },
      {
        "col": "Reverse_Contrast",
        "raw_col": "Reverse_Contrast_ELA",
        "min_year": 2024
      },
      {
        "col": "Masking",
        "raw_col": "Masking_ELA",
        "min_year": 2024
      },
      {
        "col": "Hearing_Assist_Tech",
        "raw_col": "Hearing_Assist_Tech_ELA",
        "min_year": 2024
      },
      {
        "col": "Color_Overlay",
        "raw_col": "Color_Overlay_ELA",
        "min_year": 2024
      },
      {
        "col": "Magnification",
        "raw_col": "Magnification_ELA",
        "min_year": 2024
      },
      {
        "col": "Noise_Buffers",
        "raw_col": "Noise_Buffers_ELA",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_English",
        "raw_col": "Read_Aloud_English_ELA",
        "min_year": 2024
      },
      {
        "col": "Scribe",
        "raw_col": "Scribe_ELA",
        "min_year": 2024
      },
      {
        "col": "Separate_Setting",
        "raw_col": "Separate_Setting_ELA",
        "min_year": 2024
      },
      {
        "col": "Small_Group_Translation",
        "raw_col": "Small_Group_Translation_ELA",
        "min_year": 2024
      },
      {
        "col": "Translator_Interpreter",
        "raw_col": "Translator_Interpreter_ELA",
        "min_year": 2024
      },
      {
        "col": "VSL",
        "raw_col": "VSL_ELA",
        "min_year": 2024
      },
      {
        "col": "Alternate_Response_Options",
        "raw_col": "Alternate_Response_Options_ELA",
        "min_year": 2024
      },
      {
        "col": "Braille",
        "raw_col": "Braille_ELA",
        "min_year": 2024
      },
      {
        "col": "Print_on_Demand",
        "raw_col": "Print_on_Demand_ELA",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_Passages",
        "raw_col": "Read_Aloud_Passages_ELA",
        "min_year": 2024
      }
    ]
  },
  {
    "assessmentIdentifier": "WIForward_MTH",
    "assessmentTitle": "WI Forward - Mathematics",
    "assessmentFamily": "WIForward",
    "affix": "MTH",
    "scoreResults": [
      {
        "reportingMethod": "Scale Score",
        "col": "scaleScore",
        "raw_col": "Scale_Score_MTH",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Std Error Scale Score",
        "col": "stdErrorScaleScore",
        "raw_col": "Std_Error_Scale_Score_MTH",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "WI Percentile",
        "col": "percentile",
        "raw_col": "WI_Percentile_MTH",
        "typeDescriptor": "Percentile"
      },
      {
        "reportingMethod": "Total Points Earned",
        "col": "Total_Points_Earned",
        "raw_col": "Total_Points_Earned_MTH",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned MC",
        "col": "Points_Earned_MC",
        "raw_col": "Points_Earned_MTH_MC",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned Autoscored",
        "col": "Points_Earned_Autoscored",
        "raw_col": "Points_Earned_MTH_Autoscored",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "CESA",
        "col": "CESA",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Type",
        "col": "School_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Name",
        "col": "District_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Type",
        "col": "District_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Key",
        "col": "District_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Name",
        "col": "School_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Number",
        "col": "School_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Type",
        "col": "School_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Key",
        "col": "School_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Number",
        "col": "District_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Agency_Type",
        "col": "District_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Number",
        "col": "School_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Agency_Type",
        "col": "School_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Local_Student_ID",
        "col": "Local_Student_ID",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Date_of_Birth",
        "col": "Date_of_Birth",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Gender",
        "col": "Gender",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Ethnicity",
        "col": "Ethnicity",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_School_FAY",
        "col": "Enrolled_in_School_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_District_FAY",
        "col": "Enrolled_in_District_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Out_of_District_IEP_Placement",
        "col": "Out_of_District_IEP_Placement",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "EL_Student_New_to_Country",
        "col": "EL_Student_New_to_Country",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Disability_Status",
        "col": "Disability_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Primary_Disability_Code",
        "col": "Primary_Disability_Code",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency_Status",
        "col": "English_Proficiency_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency",
        "col": "English_Proficiency",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Economic_Status",
        "col": "Economic_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Migrant_Status",
        "col": "Migrant_Status",
        "typeDescriptor": "Level"
      }
    ],
    "performanceLevels": [
      {
        "reportingMethod": "Performance Level",
        "col": "performanceLevel",
        "raw_col": "MTH_Performance_Level",
        "min_year": 2024,
        "levels": [
          1,
          2,
          3,
          4
        ]
      },
      {
        "reportingMethod": "Proficiency",
        "col": "performanceLevel",
        "raw_col": "MTH_Proficiency",
        "max_year": 2023,
        "levels": [
          1,
          2,
          3,
          4
        ]
      }
    ],
    "objectiveAssessments": [
      {
        "identificationCode": "MTH_Gr3-5_OA",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Operations and Algebraic Thinking (grades 3-5)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr3-5_OA",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr3-5_OA",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr3-5_OA",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr3-5_NBT",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Number and Operations in Base Ten (grades 3-5)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr3-5_NBT",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr3-5_NBT",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr3-5_NBT",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr3-5_NF",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Number and Operations - Fractions (grades 3-5)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr3-5_NF",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr3-5_NF",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr3-5_NF",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr3-5_MD",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Measurement and Data (grades 3-5)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr3-5_MD",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr3-5_MD",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr3-5_MD",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr3-8_GEO",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Geometry (grades 3-8)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr3-8_GEO",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr3-8_GEO",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr3-8_GEO",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr6-7_RP",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Ratios and Proportional Relationships (grades 6-7)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr6-7_RP",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr6-7_RP",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr6-7_RP",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr6-8_NS",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "The Number System (grades 6-8)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr6-8_NS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr6-8_NS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr6-8_NS",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr6-8_EE",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Expressions and Equations (grades 6-8)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr6-8_EE",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr6-8_EE",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr6-8_EE",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr6-8_SP",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Statistics and Probability (grades 6-8)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr6-8_SP",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr6-8_SP",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr6-8_SP",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "MTH_Gr8_FNC",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Functions (grades 8)",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_MTH_Gr8_FNC",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_MTH_Gr8_FNC",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_MTH_Gr8_FNC",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      }
    ],
    "topLevelFields": [
      {
        "col": "schoolYear",
        "raw_col": "Year"
      },
      {
        "col": "adminDate",
        "raw_col": "Test_End_Date_MTH"
      },
      {
        "col": "attemptStatus",
        "raw_col": "MTH_Attempted_Status"
      },
      {
        "col": "reasonNotTested",
        "raw_col": "Reason_Not_Tested_MT"
      }
    ],
    "accommodations": [
      {
        "col": "Color_Choices",
        "raw_col": "Color_Choices_MTH",
        "min_year": 2024
      },
      {
        "col": "Contrasting_Color",
        "raw_col": "Contrasting_Color_MTH",
        "min_year": 2024
      },
      {
        "col": "Reverse_Contrast",
        "raw_col": "Reverse_Contrast_MTH",
        "min_year": 2024
      },
      {
        "col": "Masking",
        "raw_col": "Masking_MTH",
        "min_year": 2024
      },
      {
        "col": "Stacked_Translation_English_TTS",
        "raw_col": "Stacked_Translation_English_TTS_MTH",
        "min_year": 2024
      },
      {
        "col": "Stacked_Translation_Spanish_TTS",
        "raw_col": "Stacked_Translation_Spanish_TTS_MTH",
        "min_year": 2024
      },
      {
        "col": "Hearing_Assist_Tech",
        "raw_col": "Hearing_Assist_Tech_MTH",
        "min_year": 2024
      },
      {
        "col": "Bilingual_Dictionary",
        "raw_col": "Bilingual_Dictionary_MTH",
        "min_year": 2024
      },
      {
        "col": "Color_Overlay",
        "raw_col": "Color_Overlay_MTH",
        "min_year": 2024
      },
      {
        "col": "Magnification",
        "raw_col": "Magnification_MTH",
        "min_year": 2024
      },
      {
        "col": "Noise_Buffers",
        "raw_col": "Noise_Buffers_MTH",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_English",
        "raw_col": "Read_Aloud_English_MTH",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_Spanish",
        "raw_col": "Read_Aloud_Spanish_MTH",
        "min_year": 2024
      },
      {
        "col": "Scribe",
        "raw_col": "Scribe_MTH",
        "min_year": 2024
      },
      {
        "col": "Separate_Setting",
        "raw_col": "Separate_Setting_MTH",
        "min_year": 2024
      },
      {
        "col": "Small_Group_Translation",
        "raw_col": "Small_Group_Translation_MTH",
        "min_year": 2024
      },
      {
        "col": "Translator_Interpreter",
        "raw_col": "Translator_Interpreter_MTH",
        "min_year": 2024
      },
      {
        "col": "VSL",
        "raw_col": "VSL_MTH",
        "min_year": 2024
      },
      {
        "col": "Abacus",
        "raw_col": "Abacus_MTH",
        "min_year": 2024
      },
      {
        "col": "Alternate_Response_Options",
        "raw_col": "Alternate_Response_Options_MTH",
        "min_year": 2024
      },
      {
        "col": "Braille",
        "raw_col": "Braille_MTH",
        "min_year": 2024
      },
      {
        "col": "Non-embedded_Calculator",
        "raw_col": "Non-embedded_Calculator_MTH",
        "min_year": 2024
      },
      {
        "col": "Multiplication_Table",
        "raw_col": "Multiplication_Table_MTH",
        "min_year": 2024
      },
      {
        "col": "Print_on_Demand",
        "raw_col": "Print_on_Demand_MTH",
        "min_year": 2024
      }
    ]
  },
  {
    "assessmentIdentifier": "WIForward_SCN",
    "assessmentTitle": "WI Forward - Science",
    "assessmentFamily": "WIForward",
    "affix": "SCN",
    "scoreResults": [
      {
        "reportingMethod": "Scale Score",
        "col": "scaleScore",
        "raw_col": "Scale_Score_SCN",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Std Error Scale Score",
        "col": "stdErrorScaleScore",
        "raw_col": "Std_Error_Scale_Score_SCN",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "WI Percentile",
        "col": "percentile",
        "raw_col": "WI_Percentile_SCN",
        "typeDescriptor": "Percentile"
      },
      {
        "reportingMethod": "Total Points Earned",
        "col": "Total_Points_Earned",
        "raw_col": "Total_Points_Earned_SCN",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned MC",
        "col": "Points_Earned_MC",
        "raw_col": "Points_Earned_SCN_MC",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned Autoscored",
        "col": "Points_Earned_Autoscored",
        "raw_col": "Points_Earned_SCN_Autoscored",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "CESA",
        "col": "CESA",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Type",
        "col": "School_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Name",
        "col": "District_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Type",
        "col": "District_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Key",
        "col": "District_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Name",
        "col": "School_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Number",
        "col": "School_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Type",
        "col": "School_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Key",
        "col": "School_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Number",
        "col": "District_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Agency_Type",
        "col": "District_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Number",
        "col": "School_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Agency_Type",
        "col": "School_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Local_Student_ID",
        "col": "Local_Student_ID",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Date_of_Birth",
        "col": "Date_of_Birth",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Gender",
        "col": "Gender",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Ethnicity",
        "col": "Ethnicity",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_School_FAY",
        "col": "Enrolled_in_School_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_District_FAY",
        "col": "Enrolled_in_District_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Out_of_District_IEP_Placement",
        "col": "Out_of_District_IEP_Placement",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "EL_Student_New_to_Country",
        "col": "EL_Student_New_to_Country",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Disability_Status",
        "col": "Disability_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Primary_Disability_Code",
        "col": "Primary_Disability_Code",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency_Status",
        "col": "English_Proficiency_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency",
        "col": "English_Proficiency",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Economic_Status",
        "col": "Economic_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Migrant_Status",
        "col": "Migrant_Status",
        "typeDescriptor": "Level"
      }
    ],
    "performanceLevels": [
      {
        "reportingMethod": "Performance Level",
        "col": "performanceLevel",
        "raw_col": "SCN_Performance_Level",
        "min_year": 2024,
        "levels": [
          1,
          2,
          3,
          4
        ]
      },
      {
        "reportingMethod": "Proficiency",
        "col": "performanceLevel",
        "raw_col": "SCN_Proficiency",
        "max_year": 2023,
        "levels": [
          1,
          2,
          3,
          4
        ]
      }
    ],
    "objectiveAssessments": [
      {
        "identificationCode": "SCN_LS",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Practices and Crosscutting Concepts in Life Science",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SCN_LS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SCN_LS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SCN_LS",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SCN_PS",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Practices and Crosscutting Concepts in Physical Science",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SCN_PS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SCN_PS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SCN_PS",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SCN_ES",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Practices and Crosscutting Concepts in Earth and Space Science",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SCN_ES",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SCN_ES",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SCN_ES",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SCN_ET",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Practices and Crosscutting Concepts in Engineering",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SCN_ET",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SCN_ET",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SCN_ET",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      }
    ],
    "topLevelFields": [
      {
        "col": "schoolYear",
        "raw_col": "Year"
      },
      {
        "col": "adminDate",
        "raw_col": "Test_End_Date_SCN"
      },
      {
        "col": "attemptStatus",
        "raw_col": "SCN_Attempted_Status"
      },
      {
        "col": "reasonNotTested",
        "raw_col": "Reason_Not_Tested_SC"
      }
    ],
    "accommodations": [
      {
        "col": "Color_Choices",
        "raw_col": "Color_Choices_SCN",
        "min_year": 2024
      },
      {
        "col": "Contrasting_Color",
        "raw_col": "Contrasting_Color_SCN",
        "min_year": 2024
      },
      {
        "col": "Reverse_Contrast",
        "raw_col": "Reverse_Contrast_SCN",
        "min_year": 2024
      },
      {
        "col": "Masking",
        "raw_col": "Masking_SCN",
        "min_year": 2024
      },
      {
        "col": "Stacked_Translation_English_TTS",
        "raw_col": "Stacked_Translation_English_TTS_SCN",
        "min_year": 2024
      },
      {
        "col": "Stacked_Translation_Spanish_TTS",
        "raw_col": "Stacked_Translation_Spanish_TTS_SCN",
        "min_year": 2024
      },
      {
        "col": "Hearing_Assist_Tech",
        "raw_col": "Hearing_Assist_Tech_SCN",
        "min_year": 2024
      },
      {
        "col": "Bilingual_Dictionary",
        "raw_col": "Bilingual_Dictionary_SCN",
        "min_year": 2024
      },
      {
        "col": "Color_Overlay",
        "raw_col": "Color_Overlay_SCN",
        "min_year": 2024
      },
      {
        "col": "Magnification",
        "raw_col": "Magnification_SCN",
        "min_year": 2024
      },
      {
        "col": "Noise_Buffers",
        "raw_col": "Noise_Buffers_SCN",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_English",
        "raw_col": "Read_Aloud_English_SCN",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_Spanish",
        "raw_col": "Read_Aloud_Spanish_SCN",
        "min_year": 2024
      },
      {
        "col": "Scribe",
        "raw_col": "Scribe_SCN",
        "min_year": 2024
      },
      {
        "col": "Separate_Setting",
        "raw_col": "Separate_Setting_SCN",
        "min_year": 2024
      },
      {
        "col": "Small_Group_Translation",
        "raw_col": "Small_Group_Translation_SCN",
        "min_year": 2024
      },
      {
        "col": "Translator_Interpreter",
        "raw_col": "Translator_Interpreter_SCN",
        "min_year": 2024
      },
      {
        "col": "VSL",
        "raw_col": "VSL_SCN",
        "min_year": 2024
      },
      {
        "col": "Alternate_Response_Options",
        "raw_col": "Alternate_Response_Options_SCN",
        "min_year": 2024
      },
      {
        "col": "Braille",
        "raw_col": "Braille_SCN",
        "min_year": 2024
      },
      {
        "col": "Print_on_Demand",
        "raw_col": "Print_on_Demand_SCN",
        "min_year": 2024
      }
    ]
  },
  {
    "assessmentIdentifier": "WIForward_SS",
    "assessmentTitle": "WI Forward - Social Studies",
    "assessmentFamily": "WIForward",
    "affix": "SS",
    "scoreResults": [
      {
        "reportingMethod": "Scale Score",
        "col": "scaleScore",
        "raw_col": "Scale_Score_SS",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Std Error Scale Score",
        "col": "stdErrorScaleScore",
        "raw_col": "Std_Error_Scale_Score_SS",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "WI Percentile",
        "col": "percentile",
        "raw_col": "WI_Percentile_SS",
        "typeDescriptor": "Percentile"
      },
      {
        "reportingMethod": "Total Points Earned",
        "col": "Total_Points_Earned",
        "raw_col": "Total_Points_Earned_SS",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned MC",
        "col": "Points_Earned_MC",
        "raw_col": "Points_Earned_SS_MC",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "Points Earned Autoscored",
        "col": "Points_Earned_Autoscored",
        "raw_col": "Points_Earned_SS_Autoscored",
        "typeDescriptor": "Integer"
      },
      {
        "reportingMethod": "CESA",
        "col": "CESA",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Type",
        "col": "School_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Name",
        "col": "District_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Type",
        "col": "District_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_Agency_Key",
        "col": "District_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Name",
        "col": "School_Name",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Number",
        "col": "School_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Type",
        "col": "School_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_Agency_Key",
        "col": "School_Agency_Key",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Number",
        "col": "District_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "District_of_Residence_Agency_Type",
        "col": "District_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Number",
        "col": "School_of_Residence_Number",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "School_of_Residence_Agency_Type",
        "col": "School_of_Residence_Agency_Type",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Local_Student_ID",
        "col": "Local_Student_ID",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Date_of_Birth",
        "col": "Date_of_Birth",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Gender",
        "col": "Gender",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Ethnicity",
        "col": "Ethnicity",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_School_FAY",
        "col": "Enrolled_in_School_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Enrolled_in_District_FAY",
        "col": "Enrolled_in_District_FAY",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Out_of_District_IEP_Placement",
        "col": "Out_of_District_IEP_Placement",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "EL_Student_New_to_Country",
        "col": "EL_Student_New_to_Country",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Disability_Status",
        "col": "Disability_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Primary_Disability_Code",
        "col": "Primary_Disability_Code",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency_Status",
        "col": "English_Proficiency_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "English_Proficiency",
        "col": "English_Proficiency",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Economic_Status",
        "col": "Economic_Status",
        "typeDescriptor": "Level"
      },
      {
        "reportingMethod": "Migrant_Status",
        "col": "Migrant_Status",
        "typeDescriptor": "Level"
      }
    ],
    "performanceLevels": [
      {
        "reportingMethod": "Performance Level",
        "col": "performanceLevel",
        "raw_col": "SS_Performance_Level",
        "min_year": 2024,
        "levels": [
          1,
          2,
          3,
          4
        ]
      },
      {
        "reportingMethod": "Proficiency",
        "col": "performanceLevel",
        "raw_col": "SS_Proficiency",
        "max_year": 2023,
        "levels": [
          1,
          2,
          3,
          4
        ]
      }
    ],
    "objectiveAssessments": [
      {
        "identificationCode": "SS_BH",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Behavioral Sciences",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SS_BH",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SS_BH",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SS_BH",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SS_Econ",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Economics",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SS_Econ",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SS_Econ",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SS_Econ",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SS_Geog",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Geography",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SS_Geog",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SS_Geog",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SS_Geog",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SS_Hist",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "History",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SS_Hist",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SS_Hist",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SS_Hist",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      },
      {
        "identificationCode": "SS_PS",
        "namespace": "uri://datarecognitioncorp.com",
        "description": "Political Science and Citizenship",
        "scoreResults": [
          {
            "reportingMethod": "Progress Score",
            "col": "Progress_Score_SS_PS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          },
          {
            "reportingMethod": "Points Earned",
            "col": "Points_Earned_SS_PS",
            "min_year": 2024,
            "typeDescriptor": "Integer"
          }
        ],
        "performanceLevels": [
          {
            "reportingMethod": "Progress Level",
            "col": "Progress_Level_SS_PS",
            "min_year": 2024,
            "levels": [
              1,
              2,
              3,
              4
            ]
          }
        ]
      }
    ],
    "topLevelFields": [
      {
        "col": "schoolYear",
        "raw_col": "Year"
      },
      {
        "col": "adminDate",
        "raw_col": "Test_End_Date_SS"
      },
      {
        "col": "attemptStatus",
        "raw_col": "SS_Attempted_Status"
      },
      {
        "col": "reasonNotTested",
        "raw_col": "Reason_Not_Tested_SS"
      }
    ],
    "accommodations": [
      {
        "col": "Color_Choices",
        "raw_col": "Color_Choices_SS",
        "min_year": 2024
      },
      {
        "col": "Contrasting_Color",
        "raw_col": "Contrasting_Color_SS",
        "min_year": 2024
      },
      {
        "col": "Reverse_Contrast",
        "raw_col": "Reverse_Contrast_SS",
        "min_year": 2024
      },
      {
        "col": "Masking",
        "raw_col": "Masking_SS",
        "min_year": 2024
      },
      {
        "col": "Stacked_Translation_English_TTS",
        "raw_col": "Stacked_Translation_English_TTS_SS",
        "min_year": 2024
      },
      {
        "col": "Stacked_Translation_Spanish_TTS",
        "raw_col": "Stacked_Translation_Spanish_TTS_SS",
        "min_year": 2024
      },
      {
        "col": "Hearing_Assist_Tech",
        "raw_col": "Hearing_Assist_Tech_SS",
        "min_year": 2024
      },
      {
        "col": "Bilingual_Dictionary",
        "raw_col": "Bilingual_Dictionary_SS",
        "min_year": 2024
      },
      {
        "col": "Color_Overlay",
        "raw_col": "Color_Overlay_SS",
        "min_year": 2024
      },
      {
        "col": "Magnification",
        "raw_col": "Magnification_SS",
        "min_year": 2024
      },
      {
        "col": "Noise_Buffers",
        "raw_col": "Noise_Buffers_SS",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_English",
        "raw_col": "Read_Aloud_English_SS",
        "min_year": 2024
      },
      {
        "col": "Read_Aloud_Spanish",
        "raw_col": "Read_Aloud_Spanish_SS",
        "min_year": 2024
      },
      {
        "col": "Scribe",
        "raw_col": "Scribe_SS",
        "min_year": 2024
      },
      {
        "col": "Separate_Setting",
        "raw_col": "Separate_Setting_SS",
        "min_year": 2024
      },
      {
        "col": "Small_Group_Translation",
        "raw_col": "Small_Group_Translation_SS",
        "min_year": 2024
      },
      {
        "col": "Translator_Interpreter",
        "raw_col": "Translator_Interpreter_SS",
        "min_year": 2024
      },
      {
        "col": "VSL",
        "raw_col": "VSL_SS",
        "min_year": 2024
      },
      {
        "col": "Alternate_Response_Options",
        "raw_col": "Alternate_Response_Options_SS",
        "min_year": 2024
      },
      {
        "col": "Braille",
        "raw_col": "Braille_SS",
        "min_year": 2024
      },
      {
        "col": "Print_on_Demand",
        "raw_col": "Print_on_Demand_SS",
        "min_year": 2024
      }
    ]
  }
] %}
